<h1 class="m-4">All our flats (<%= @flats.count %>)</h1>

<%# iterate through my flats & create a card for each flat %>

<div class="container">
    <div class="row">
  <% @flats.each do |flat| %>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/random/800x800/?img=1" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><strong><%= flat.name %></strong></h5>
          <p class="card-text"><%= flat.description %></p>
        </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Address: </strong><%= flat.address %></li>
        <li class="list-group-item">
          <div class="d-flex justify-content-center">
            <div class="px-3">
              <i class="fa-solid fa-user-group"></i> <%= flat.number_of_guests %>
            </div>
            <div class="px-3">
              <i class="fa-solid fa-euro-sign"></i> <%= flat.price_per_night %>
            </div>
          </div>

        </li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
</div>
    </div>
  <% end %>
    </div>
</div>
